/*mobile version*/

.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.navbar-color {
    background-color: #fffafd;
}

.personalia {
    background-color: #ffd8e8;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
}

.profile {
    background-color: #ffedf4;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
}

.person-logo {
    border: 6px dotted black;
    border-radius: 50%;
    border-color: #71548b;
    margin: 15px 0px 15px 0px;
    width: 50%;
    animation: glow 3s ease alternate;
}

.person-name{
    margin: 100px 0px 0px 0px;
}

.profile-content {
    padding: 15px;
    font-size: 20px;
}

.profile-content__category-title {
    color: #71548b;
}

.profile-content__category--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
    color: #71548b;
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    color: #7a94b6;
    margin-top: 0px;
    font-size: 14px;
}

@media only screen and (min-width: 800px) {

    .page {
        flex-direction: row;
    }

    .profile {
        border-radius: 0px 15px 15px 0px;
    }

    .person-name {
        order: -1;
        color: #71548b;
        font-weight: bold;
    }

    .profile-content__category--hidden-mobile {
        display: flex;
        flex-direction: column;
    }

        /*fix: anders als stipje zichtbaar*/
        .profile-content__category--hidden-mobile hr {
            width: 100%;
            color: hotpink;
        }

    .profile-content__element--hidden-mobile {
        display: flex;
        color: #7a94b6;
        
    }

    .profile-content__element-header {
        display: flex;
        justify-content: space-between;
        color: #FF00C3;
    }

    .profile-content__period {
        font-size: 12px;
        color: #adbbce;
        display: flex;
    }

    .personalia {
        border-radius: 15px 0px 0px 15px;
    }
}


/*student uitwerking*/
