/*mobile version*/

.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.personalia {
    background-color: #faebec;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    border-radius: 15px 15px 0px 0px;
}

.profile {
    background-color: #f5f5f3;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
}

.person-logo {
    border: 6px solid black;
    border-radius: 50%;
    border-color: #eeb6bb;
    margin: 15px 0px 15px 0px;
    width: 50%;
    animation: glow 3s ease alternate;
}

.person-name {
    color: #ca7c83;
}

.profile-content {
    padding: 15px;
    font-size: 20px;
}

.profile-content__category-title {
    color: #ca7c83;
}

.profile-content__category--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-contact {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f3;
    text-align: center;
    height: 200px;
    width: 300px;
    margin-top: 20px;
    border-radius: 15px 15px 15px 15px;
}


.profile-contact-category-title {
    color: #ca7c83;
    margin-top: 10px;
    height: 20px;
}

.profile-contact-element {
    color: #807d7d;
    height: 50px;
}


.profile-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
    color: #e8b0b5;
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    color: #807d7d;
    margin-top: 0px;
    font-size: 14px;
}

@media only screen and (min-width: 800px) {

    .page {
        flex-direction: row;
    }

    .profile {
        border-radius: 0px 15px 15px 0px;
    }

    .person-name {
        order: -1;
        color: #ca7c83;
        margin: 45px 0px 0px 0px;
    }

    .profile-content__category--hidden-mobile {
        display: flex;
        flex-direction: column;
    }

        /*fix: anders als stipje zichtbaar*/
        .profile-content__category--hidden-mobile hr {
            width: 100%;
            color: #212529;
        }

    .profile-content__element--hidden-mobile {
        display: flex;
        color: #807d7d;
    }

    .profile-content__element-header {
        display: flex;
        justify-content: space-between;
        color: #FF00C3;
    }

    .profile-content__period {
        font-size: 12px;
        color: #adadad;
        display: flex;
    }

    .personalia {
        border-radius: 15px 0px 0px 15px;
        height: 750px;
    }
}


/*student uitwerking*/
