html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fefdfe;
}

.navbar-color {
    background-color: #fafaf7;
}

.title-color {
    color: #ca7c83 !important; /* Change to any color you want */
}

.secondary-color {
    color: #e8b0b5 !important; /* Change to any color you want */
}