@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/person-pasfoto.png">
        <h1 class="person-name">POV: angy</h1>

    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    My face when angy
                <p>
            </div>


            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Angy puppy skool</h4>
                    <p class="profile-content__period">nov 2021 - feb 2023</p>
                </div>
                <p class="profile-content__institute">National puppy skool, Doosje</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Official angy puppy</h4>
                    <p class="profile-content__period">feb 2023 - feb 2025</p>
                </div>
                <p class="profile-content__institute">Windesheim, Zwolle</p>
            </div>
        </section>

    </section>
</div>
