@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/person-pasfoto.png">
        <h1 class="person-name">Lisa Gerrits</h1>

    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    OwO
                <p>
            </div>


            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Gymnasium</h4>
                    <p class="profile-content__period">2015 - 2016</p>
                </div>
                <p class="profile-content__institute">Gymnasium Celeanum, Zwolle</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Havo</h4>
                    <p class="profile-content__period">2016 - 2021</p>
                </div>
                <p class="profile-content__institute">Thorbecke scholengemeenschap, Zwolle</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HBO Chemie</h4>
                    <p class="profile-content__period">2021 - 2023</p>
                </div>
                <p class="profile-content__institute">Hogeschool Saxion, Deventer</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HBO ICT</h4>
                    <p class="profile-content__period">2023 - heden</p>
                </div>
                <p class="profile-content__institute">Windesheim, Zwolle</p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Werkervaring</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Jumbo</h4>
                    <p class="profile-content__period">2019 - 2021</p>
                </div>
                <p class="profile-content__institute">Jumbo Westenholte, Zwolle</p>
            </div>
        </section>

    </section>
</div>
