@model Contactform
@inject IConfiguration configuration 
@{
    var siteKey = configuration["reCaptchaSettings:SiteKey"];
    ViewData["Title"] = "Contactpagina";
}

<script type="text/javascript">
   var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : '@siteKey',
          'callback': onRecaptchaSuccess,
          'expired-callback': onRecaptchaExpired
        });
      };
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>

<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>


<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images\pasfoto.png">
        <h1 class="person-name">Lisa Gerrits</h1>

        <div class="profile-contact">
            <h3 class="profile-contact-category-title">Contactinformatie</h3>
            <hr>
            <p class="profile-contact-element"> <i class="fa-solid fa-envelope"></i>  lisa.gerrits03@gmail.com</p>
            <p class="profile-contact-element"> <i class="fa fa-phone"></i>  06 38270316</p>
            <p class="profile-contact-element"> <i class="fa-solid fa-calendar-days"></i>  11 maart 2003</p>
        </div>


    </section>

    <section class="contact">

        

        <h1 class="profile-contact-title">Contact</h1>
        <p>@ViewBag.Message</p>
        <div id="flash-message"></div>
        <form method="post" class="form-contactpagina">
            <input type="hidden" id="recaptchaTokenInputId" asp-for="RecaptchaToken" />

            <div class="form-contactpagina__inputelement fx-col">
                <label for="firstname">Voornaam* </label>
                <input type="text" asp-for="FirstName" name="firstname" id="firstname" maxlength="60" class="input-box" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="lastname">Achternaam* </label>
                <input type="text" asp-for="LastName" name="lastname" id="lastname" maxlength="60" class="input-box" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="email">E-mailadres* </label>
                <input type="email" asp-for="Email" name="email" maxlength="80" id="email" class="input-box">
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="phone">Telefoonnummer* </label>
                <input type="tel" asp-for="Phone" name="phone" id="phone" maxlength="20" class="input-box" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="subject">Onderwerp* </label>
                <input type="text" asp-for="Subject" name="subject" id="subject" class="input-box" required>

            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="message">Bericht* </label>
                <textarea asp-for="Message" name="message" id="message" rows="11" cols="30" class="input-box" required placeholder="Schrijf je bericht hier..."></textarea>
            </div>

            <hr />
            <div id="html_element"></div>
            <hr />

            <div id="spinner" class="spinner" style="display: none;"></div>

            <div class="form-contactpagina__inputelement">
                <input type="reset" id="resetbutton" value="Reset!">
                <input type="submit" id="submitbutton" value="Verstuur!">
            </div>

            

        </form>

    </section>
</div>



<script>
    const inputEmail = document.getElementById('email');
    const inputPhone = document.getElementById('phone');
    const submitButton = document.getElementById("submitbutton");
    const spinner = document.getElementById("spinner");
    const flashMessageContainer = document.getElementById('flash-message');
    const resetButton = document.getElementById("resetbutton")
    let isValid = false;
    let recaptchaValid = false;

    const form = document.querySelector('.form-contactpagina');

    //Dit zijn alle required input velden en textarea
    const inputs = form.querySelectorAll("input[required], textarea[required]");

    const toggleSubmitButton = () => {

        //submitButton.disabled = !form.checkValidity(); // Checkt of het hele formulier geldig is
        //isValid = form.checkValidity();
        submitButton.disabled = true;
        if(recaptchaValid){
           submitButton.disabled = !form.checkValidity(); // Checkt of het hele formulier geldig is
           isValid = form.checkValidity();
        }
    };

    const flashMessage = (valid, message) => {
        if (valid) {
            flashMessageContainer.textContent = message;
            flashMessageContainer.className = 'success'; // Succes stijl
        } else {
            flashMessageContainer.textContent = message;
            flashMessageContainer.className = 'error'; // Fout stijl
        }

        flashMessageContainer.style.display = 'block'; // Maak het bericht zichtbaar

        // Verberg het bericht na 3 seconden
        setTimeout(() => {
            flashMessageContainer.style.display = 'none';
        }, 3000);
    };

    // Schakel de knop uit bij het laden van de pagina
    document.addEventListener("DOMContentLoaded", toggleSubmitButton);

    //Geeft elke required input veld en textarea een eventlisteners voor het controleren van de knop
    inputs.forEach(input => {
        input.addEventListener("input", toggleSubmitButton); // Elke wijziging activeert validatie
    });

    //Validate Email
    const validateEmail = () => { 
        const maxLength = 80;
        const emailValue = inputEmail.value.trim();

        if (inputEmail.validity.typeMismatch) {
            inputEmail.setCustomValidity("Voer een geldig e-mailadres in!");
        } else if (emailValue.length > maxLength) {
            inputEmail.setCustomValidity("Email mag niet langer dan 80 tekens zijn!");
        } else {
            inputEmail.setCustomValidity(""); // Reset de foutmelding
        }
    
        inputEmail.reportValidity();
    };

    // Validate PhoneNumber
       const validatePhone = () => { 
          const phoneValue = inputPhone.value.trim();
          const phonePattern = /^\+?[0-9 ]{8,20}$/;

           if (!phonePattern.test(phoneValue)) {
            inputPhone.setCustomValidity("Enter a valid phone number (only numbers and spaces, 8-20 digits, optional +).");
        } else {
            inputPhone.setCustomValidity("");
        }

        inputPhone.reportValidity();
       }

       // Callback functie wanneer reCAPTCHA succesvol is geverifieerd
function onRecaptchaSuccess(response) {
  console.log("reCAPTCHA succesvol geverifieerd. Response:", response);
  // Je kunt bijvoorbeeld een formulier versturen of een andere actie uitvoeren
  recaptchaValid = true;
   toggleSubmitButton();
}

// Callback functie wanneer reCAPTCHA vervalt
function onRecaptchaExpired() {
  console.log("reCAPTCHA vervallen.");
  // Je kunt hier iets doen om de gebruiker te waarschuwen dat ze opnieuw moeten verifiëren
  recaptchaValid = false;
   toggleSubmitButton();
}

    //validate form
    const validateForm = () => {
        validateEmail();
        validatePhone();
       
        return form.checkValidity(); // Controleert of alle velden geldig zijn
    };

    // Event listeners voor email validatie
    inputEmail.addEventListener("blur", validateEmail);
    inputEmail.addEventListener("input", validateEmail);

    // Event listeners voor telefoonnummer validatie
    inputPhone.addEventListener("blur", validatePhone);
    inputPhone.addEventListener("input", validatePhone);

    resetButton.addEventListener('click', function (event) {
        if (recaptchaValid) {
            grecaptcha.reset();
            recaptchaValid = false;
        }
        
        submitButton.disabled = true;
    })

    // Event listener voor formulierinzending
    form.addEventListener('submit', function (event) {
        event.preventDefault(); // Voorkom standaard formulierinzending

        var token = grecaptcha.getResponse();
        document.getElementById("recaptchaTokenInputId").value = token;

        submitButton.disabled = true;
        spinner.style.display = "block";

        if (!validateForm()) {
            return; // Stop formulierverwerking als validatie faalt
        }

        // Serialiseer formuliergegevens
        const formData = new URLSearchParams(new FormData(form));

        // Voer een POST-verzoek uit
        fetch('/contact', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Netwerkrespons was niet ok');
            }
            return response.text();
        })
        .then(data => {
            console.log('Formulier succesvol ingediend:', [...formData.entries()]);
            form.reset(); 
            grecaptcha.reset();
            flashMessage(true, "Formulier succesvol ingediend");
            spinner.style.display = "none";
        })
        .catch(error => {
            console.error('Er was een probleem met de formulierinzending:', error);
            flashMessage(false, "Er was een probleem met de formulierinzending");
            spinner.style.display = "none";
            submitButton.disabled = false;
        });
    });



</script>
